# ignore ALL files in ANY directory named temp
Practice/MERN/001/*
Practice/MERN/002/*
Practice/MERN/step_learn/*
Practice/MERN/contact_app/*
Practice/MERN/react-advanced-2020-master/*
Practice/MERN/003/guide-project/node_modules/*
Practice/MERN/weather-app/node_modules/*
Practice/MERN/todo_app/node_modules/*