# ignore ALL files in ANY directory named temp
Practice/MERN/001/*

Practice/MERN/002/*

Practice/MERN/003/guide-project/node_modules/*

Practice/MERN/contact_app/*

Practice/MERN/news_app/node_modules/*
Practice/MERN/news_app/.env

Practice/MERN/NodeJS/*

Practice/MERN/react-advanced-2020-master/*

Practice/MERN/server-api/*

Practice/MERN/SES_EMAIL/node_modules/*
Practice/MERN/SES_EMAIL/ReactApp/ses_mail/node_modules/*

Practice/MERN/social/client/node_modules/*
Practice/MERN/social/server/node_modules/*

Practice/MERN/step_learn/*

Practice/MERN/todo_app/node_modules/*

Practice/MERN/typeScript/*

Practice/MERN/typeScript_API/node_modules/*
Practice/MERN/typeScript_API/.env

Practice/MERN/weather-app/node_modules/*
